ul {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: #1e2188;
  }

  header {
    background-color: #00A1E9;
    padding: 5px 0 15px 0;
  }

  header .left_side .logo a {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
    position: relative;
    top: 30px;
    z-index: 10;
  }

  @media (max-width: 767px) {
    header .left_side .logo a {
      font-size: 24px;
    }
  }

  @media (max-width: 575px) {
    header .left_side .logo a {
      font-size: 20px;
    }
  }

  header .left_side .logo a img {
    width: 100px;
    height: 100px;
  }

  header .left_side .logo a span {
    margin-left: 5px;
    margin-top: auto;
  }

  header .right_side * {
    font-size: 20px;
  }

  @media (max-width: 767px) {
  header .left_side .logo a img {
      width: 50px;
      height: 50px;
      }
    header .right_side * {
      font-size: 16px;
    }
  }

  header .right_side .links {
    height: 100%;
    text-align: left;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: bold;
    align-content: flex-end;
  }

  header .right_side .links .link {
    position: relative;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  header .right_side .links .link a {
      color: white;
  }

  header .right_side .links .link a:after {
    content: "";
    position: absolute;
    background-color: white;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 10%;
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }

  header .right_side .links .link a:hover:after {
    width: 80%;
  }

  /* header .right_side .links .link:nth-child(5) a:hover:after {
    width: 50px;
  } */

  @media (max-width: 992px) {
    header .right_side .links .link {
      padding: 0 5px;
    }
  }

  header .right_side .mobile_menu .navbar-toggler-icon {
    background-image: url("../img/menu.png");
  }

  header .right_side .mobile_menu .show .navbar-toggler-icon {
    background-image: url("../img/menu-open.png");
  }

  header .right_side .mobile_menu .dropdown-toggle::after {
    content: unset;
  }

  header .right_side .mobile_menu .dropdown-item.active, header .right_side .mobile_menu .dropdown-item:active {
    background-color: #f8f9fa;
  }

  header .right_side .mobile_menu .dropdown-menu {
    text-align: center;
  }

  header .right_side .mobile_menu .dropdown-menu .dropdown-item {
    font-size: 20px;
    color: #1e2188;
    font-weight: bold;
  }

main {
  min-height: calc(100vh - 60px);
}

main nav ol li {
  color: #000 !important;
  font-weight: bold;
  font-size: 20px;
}

main .products {
  color: #1E2188;
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 767px) {
  main .products {
    font-size: 16px;
  }
}

main .products .product {
  margin-bottom: 30px;
}

main .products .product .product_thumbnail {
  text-align: center;
}

main .products .product .product_thumbnail .product_pic {
  border: 1px solid #1E2188;
}

main .products .product .product_thumbnail .product_name {
  font-size: 30px;
}

@media (max-width: 767px) {
  main .products .product .product_thumbnail .product_name {
    font-size: 20px;
  }
}

main .products .product .product_detail {
  padding-left: 60px;
  padding-bottom: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 786px) {
  main .products .product .product_detail {
    padding-left: 10px;
    padding-bottom: 25px;
  }
}

main .products .product .product_detail pre {
  font-size: 20px;
}

@media (max-width: 767px) {
  main .products .product .product_detail pre {
    font-size: 16px;
  }
}

.backToTop {
  font-size: 30px;
  padding: 20px 27px;
  background-color: rgb(254, 202, 10);
  color: white;
  border-radius: 50%;
  text-decoration: none;
  position: fixed;
  z-index: 10;
    right: 6px;
    bottom: 90px;
}

.backToTop:hover {
  background-color: #1E2188;
  color: white;
}

@media (max-width: 575px) {
  .backToTop {
    padding: 10px 17px;
  }
}

footer {
    background-color: #00A1E9;
    padding: 5px 0;
    text-align: center;
    color: white;
  }

  footer .footer_info {
    letter-spacing: .1rem;
    font-weight: bold;
    font-size: 12px;
  }

  footer .footer_title {
    font-size: 30px;
    font-weight: bold;
  }

/*# sourceMappingURL=product.css.map */
